<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Products Page</title>
</head>
<body>
    
    <div id="app">
        <!-- <h2>{{product + '!'}}</h2> 
            <h1> {{ product }}  - {{ description }}</h1>
        -->
        
        <div class="navbar">
            <h3 class="navbar-text">Products Page</h3>
        </div>

        <div class="product">
            <div class="product-image">
                <img v-bind:src="image" alt="" >
            </div>
        

            <div class="product-info">
                <h1> {{ product }} </h1>
                <p>{{ description }}</p>
                <a :href="href">More about Socks</a>
                <p v-if="inStock">In Stock</p>
                <p :class="{outOfStock : !inStock }" v-else >Out of Stock</p>

                <ul>
                    <span>Material</span>
                    <li v-for="detail in details" > {{ detail }}</li><br>
                    <span>Sizes</span>
                    <li v-for="size in sizes"> {{ size }}</li>
                </ul>

                <!-- Style Binding - style is bound which targets a css style, :style 
                it can be "{backgroundColor}" or "{'background-color'}"-->
                <div class="color-box" v-for="variant in variants" :key="variant.variantId" :style="{backgroundColor : variant.variantColor}" @mouseover="updateProduct(variant.variantImage)">
                    <!-- <p @mouseover="updateProduct(variant.variantImage)" >{{ variant.variantColor }}</p> -->
                </div>

                                
                <!-- <button v-on:click="cart +=1 ">Add to Cart</button> -->
                <!-- :disabled="!inStock" when inStock is false, this attribute binding will disable a button. 
                We shouldn't click the Add to Cart button when there's no product in stock
                If stock is empty, the Add to Cart button changes color from clickable to disable - Class binding
                Class Binding - class name is bound which targets a class name in css, :class-->
                <button v-on:click="addToCart" :disabled="!inStock" :class="{disabledButton : !inStock}" >Add to Cart</button>
                <button @click="removeFromCart" :disabled= "!inStock" :class="{disabledButton : !inStock}">-</button>

                <div class="cart">
                    <p>Cart {{ cart }}</p>
                </div>



                <!-- <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory < 10 && inventory > 0" >Almost out of Stock</p>
                <p v-else >Out of Stock</p> -->

                <!-- <span v-show="onSale">On Sale</span> -->

            </div>
        
        </div>


    </div>

    <script src="main.js"></script>

</body>
</html>