body{
    font-family: tahoma;
    color: #282828;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 70px;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
}

h3.navbar-text{
    font-size: 1.5em;
    color:#fff;
    font-weight: bold;
    position: relative;
    left: 20rem;
}

.product{
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
}

img{
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 40px;
    box-shadow: 0px .5px 1px #d8d8d8;
}

.product-image{
    width:80%;
}

.product-image,
.product-info {
    margin-top: 10px;
    width:50%;
}

.cart{
    margin-right: 25px;
    float: right;
    border: 1px solid #d8d8d8;
    padding: 10px 10px;
}

button {
    margin-top: 20px;
    border: none;
    background-color: #1E95EA;
    color: white;
    height:40px;
    width:100px;
    font-size: 1em;
}

.color-box{
    width:40px;
    height:40px;
    margin-top: 5px;
}






